* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background-color: #252e42;
    color: white;
}

/* Styling untuk sidebar ------------------------------*/
.sidebar {
    width: 100px;
    height: 100%;
    background-color: #005d68;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 100;
}

.album-list-sidebar {
    margin-top: 30px;
}

.logo-picture {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: none;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.logo-picture:hover {
    transform: scale(1.2);
}

.album {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: solid 2px white;
    margin: 10px 0px;
    object-fit: cover;
    transition: 0.5s;
    cursor: pointer;
}

.album:hover {
    transform: scale(1.2);
}

/* Styling untuk topbar -----------------------------------*/
.topbar {
    position: fixed;
    background-color: #252e42;
    display: flex;
    flex-direction: row;
    left: 100px;
    width: 92vw;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.menuBtn {
    display: none;
}

@font-face {
    font-family: "CustomFont";
    src: url(../font/PatrickHandSC-Regular.ttf);
}

.harmonix-text a {
    font-family: "CustomFont";
    margin: 20px 20px 20px 50px;
    font-size: 40px;
    cursor: pointer;
    text-decoration: solid;
    color: white;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 50px;
    padding: 5px 15px;
    width: 300px;
    margin-right: 50%;
}

.search-container input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 14px;
    padding: 5px;
    border-radius: 50px;
}

.search-container button {
    border: none;
    background-color: white;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.search-container button:hover {
    background-color: #a9a9a9;
}

.search-container button img {
    width: 20px;
    height: 20px;
}

.setting-icon {
    margin: 0 30px;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
}

.setting-icon:hover {
    background-color: #005d68;
}

/* Style untuk main content -----------------------------------------*/
.content {
    margin: 20px;
    margin-top: 120px;
    margin-left: 100px;
    display: flex;  
    flex-direction: column;
    gap: 60px;
}

.content-1 h2 {
    margin: 0 0 0 50px;
}

.scroll-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.content-a-1, .content-a-2, .content-a-3 {
    width: 85vw;
    height: 280px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
    justify-content: flex-start;
    gap: 50px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.content-sticky {
    position: sticky;
    top: 0;
}

.album-item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 1fr;
    border-radius: 15px;
    font-size: 20px;
    text-align: center;
}

.album-item a {
    color: white;
    text-decoration: solid;
}

.album-item img {
    height: 210px;
    width: 200px;
    border-radius: 8%;
    border: solid 2px white;
    margin: 15px 0 10px 0;
    object-fit: cover;
    cursor: pointer;
}

.album-item p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.scroll-left-1, .scroll-left-2, .scroll-left-3 {
    background-color: white;
    border: none;
    font-size: 24px;
    padding: 0 10px 0 5px;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}

.scroll-right-1, .scroll-right-2, .scroll-right-3 {
    background-color: white;
    border: none;
    font-size: 24px;
    padding: 0 5px 0 10px;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}

.scroll-left-1:hover, .scroll-left-2:hover, .scroll-left-3:hover, .scroll-right-1:hover, .scroll-right-2:hover, .scroll-right-3:hover {
    background-color: #005d68;
}

/* For Mobile Display */
@media (max-width: 430px) {
    /* Styling untuk sidebar ------------------------------*/
    .sidebar {
        left: -75px;
        width: 75px;
        transition: 0.3s ease-in-out;
        z-index: 200;
    }

    .sidebar.show {
        left: 0;
    }

    .logo-picture {
        height: 55px;
        width: 55px;
    }

    .album {
        height: 50px;
        width: 50px;
    }

    /* Styling untuk topbar -----------------------------------*/
    .topbar {
        left: 0;
        width: 135vw;
    }

    .menuBtn {
        display: block;
        margin: 0 10px 0 20px;
        font-size: 30px;
        background: none;
        border: none;
        color: white;
    }

    .menuBtn:hover {
        color: #005d68;
    }

    .harmonix-text a {
        margin: 20px 20px 20px 20px;
    }

    .search-container {
        margin-right: 20px;
        padding: 5px;
        width: 140px;
    }

    .search-container input {
        max-width: 100px;
    }
    
    .search-container button {
        border: none;
        background-color: white;
        padding: 5px;
        border-radius: 50%;
        cursor: pointer;
        transition: 0.3s;
    }

    .setting-icon {
        margin: 0 20px 0 0;
    }

    /* Style untuk main content -----------------------------------------*/
    .content {
        width: 100vw;
        margin: 120px 20px 20px 20px;
        gap: 40px;
        transition: 0.3s ease-in-out;
    }

    .content.swipe {
        width: 90%;
        margin-left: 22%;
    }

    .content-a-1.swipe, .content-a-2.swipe, .content-a-3.swipe {
        width: 50%;
    }
    
    .content-1 h2 {
        margin: 0;
    }

    .content-a-1, .content-a-2, .content-a-3 {
        width: 85vw;
        height: 230px;
        transition: 0.3s ease-in-out;
    }

    .album-item {
        font-size: 16px;
        width: 150px;
        height: 230px;
    }
    
    .album-item img {
        height: 160px;
        width: 150px;
        margin: 15px 0 10px 0;
    }
    
    .album-item p {
        width: 150px;
    }

    .scroll-container {
        flex-direction: column;
    }
    
    .scroll-left-1, .scroll-left-2, .scroll-left-3 {
        display: none;
    }
    
    .scroll-right-1, .scroll-right-2, .scroll-right-3 {
        display: none;
    }

}

/* For Tablet Display */
@media (max-width: 1024px) and (min-width: 430px) {
    /* Styling untuk topbar -----------------------------------*/
    .harmonix-text a {
        margin: 20px 50px 20px 50px;
    }

    .search-container {
        margin-right: 15%;
    }

    .setting-icon {
        margin: 0 50px 0 0;
    }

    /* Style untuk main content -----------------------------------------*/
    .content-a-1, .content-a-2, .content-a-3 {
        margin: 0 25px;
    }

    .scroll-left-1, .scroll-left-2, .scroll-left-3 {
        display: none;
    }

    .scroll-right-1, .scroll-right-2, .scroll-right-3 {
        display: none;
    }
}